body {
  font-family: "Raleway" , "Sans serif";
  margin: 0;
}

.bloc-page {
<<<<<<< Updated upstream
  width: 1360px;
=======
  width: 1240px;
>>>>>>> Stashed changes
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 4em;
  max-width: 1260px;
}

.headerNav {
  display: flex;
  align-items: center;
}

.headerNavlink {
  font-weight: 400;
  padding: 2em;
}

a {
  color: black;
  text-decoration: none;
}

.headerImg {
  width: 115px;
  height: 60px;
  margin-right: 67%;
}
.headerSignup {
  padding: 2em;
  color: blue;
  font-weight: 700;
}

.searchFormIconbox {
  padding: 1em;
  background-color: #F2F2F2;
  border-radius: 1em 0em 0em 1em;
}

.searchFormInserttext {
  padding: 1em 3em;
  border: none;
  width: 16em;
  font-size: medium;
  font-weight: 700;
  font-family: 'Raleway';
}
.searchFormInsertbutton {
  padding: 1em 1em;
  background-color: #0065FC;
  border: none;
  color: white;
  font-family: 'Raleway';
  border-radius: 0 1em 1em 0em;
  font-weight: 700;
}
.searchFilters {
  display: flex ;
  flex-flow: wrap;
}
.searchFiltersTitle {
  margin-right: 1em;
}

.searchFiltersBox {
  display: flex;
  align-items: center;
  margin-right: 2em;
  border: 2px solid #d9d9d9;
  border-radius: 2em;
  margin-top: 0.5em;
  cursor: pointer;
  font-weight: bold;
}

.searchFiltersIconbox  {
  display: flex;
  color: #0000FF;
  background-color: #DEEBFF;
  width: 3.2em;
  height: 3.2em;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  margin: -2;
}

.searchFiltersText {
  margin: 0em 1em;
}

.searchResultBox {
  display: flex;
  align-items: center;
}

.searchResultIconbox {
  color: #0000ff;
  border: solid 1px #d9d9d9;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}
.fas {
  color:#0000FF
}

.Header , .Middle {
  margin-left: 3em;
}

.Hosting {
  display: flex;
}
.CatalogTop {
  display: inline-block;
  padding: 6px;
  margin: 18px;
  border-radius: 1.5em;
  box-shadow: 0 0 20px #0000002e;
  cursor: pointer;
  background-color: white;
  width: 220px;
  margin-top: 40px;
}
.Catalogpicdimension {
  width: 219px;
  height: 100px;
  border-radius: 1rem 1rem 0 0;
}

.Container {
  border-radius: 1.5em;
  padding: 2em;
}
.HostingMarseille {
  display: block;
  background-color: #767e8233;
  height: 650px;
  width: 880px;
  border-radius: 2em 2em;
  margin-right: 20px;
}

.Container {
  display: flex;
  position: relative;
  width: 340px;
<<<<<<< Updated upstream
=======
  float: right;
}

.fas fa-chart-line {
  float: right;
>>>>>>> Stashed changes
}

.MostPopularHostingdimension {
  width: 150px;
  height: 130px;
  border-radius: 1em 0 0 1em;
}

.MostPopularHosting {
  display: flex;
  position: relative;
  padding: 0.5em;
  box-shadow: 0 0 20px #0000002e;
  cursor: pointer;
  background-color: white;
  border-radius: 1em;
  margin-top: 25px;
}

.MostPopularHostingText {
  display: flex;
  flex-direction: column;
  margin: -25px 0 0 10px;
}

.Activity {
  display: flex;
  flex-wrap: wrap;
}

  .ActivityCatalogBox {
    border-radius: 1em;
    box-shadow: 0 0 15px #0000002e;
}

.ActivityCatalogBoxImga {
  border-radius: 1em 1em 0 0;
  width: 270px;
  height: 310px;
}
.ActivityCatalogBoxImgb {
  border-radius: 1em 1em 0 0;
  width: 330px;
  height: 140px;
}

.ActivityCatalogBoxImgc {
  border-radius: 1em 1em 0 0;
  width: 335px;
  height: 110px
}

.ActivityCatalogBoxImgd {
  border-radius: 1em 1em 0 0;
  width: 270px;
  height: 310px;
}

.ActivityCatalogBoxImge {
  border-radius: 1em 1em 0 0;
  width: 259px;
  height: 120px;
}

.ActivityCatalogBoxImgf {
  border-radius: 1em 1em 0 0;
  width: 250px;
  height: 130px;
}

.activitycataloga {
  margin-right: 20px;
  margin-top: 60px;
  margin-left: -180px;
}

.activitycatalogb {
  margin-right: 30px;
  margin-top: 60;
  margin-left: -5;
}

.activitycatalogc {
  margin-right: 20px;
  margin-top: 260px;
  margin-left: -364px;
}

.activitycatalogd {
  margin-right: 30px;
  margin-top: 60;
  margin-left: -10px;
}

.activitycataloge {
  margin-right: 30px;
  margin-top: 60px;
  margin-left: -10px;
}

.activitycatalogf {
  margin-right: 30px;
  margin-top: 240px;
  margin-left: -290px;
}

.anion {
  background-color: #F2F2F2;
}

.anionBox {
  display: flex;
}

.anionBoxColumn {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1em 1em;
}

.anionBoxColumnLink {
  display: flex;
  margin: 7px 0;
<<<<<<< Updated upstream
=======
}
@media screen and (min-width:320px) and (max-width:425px) {
  .bloc-page {
    display: flow-root;
    max-width: 425px;
    overflow: hidden;
  }
  .header {
    display: contents ;
  }

  .headerNav {
    display: flow-root;
  }

  .headerNavlink {
    font-weight: 500;
    padding: 13px 63px;
}

  .headerSignup {
    display: flex;
    margin-top: -82px;
    margin-left: 310px;
  }

  .Container {
    display: flex;
    position: relative;
    max-width: 375px;
    float: none;
  }

  .MostPopularHosting {
    display: inline-flex;
    margin: 10px;


    
}
@media screen and (min-width:425px) and (max-with:1440px) {
  .bloc-page {
    display: 
    max-width: 
  }
>>>>>>> Stashed changes
}